.movies-card-list {
  padding: 40px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.movies-card-list__result-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.movies-card-list__button {
  width: 240px;
  margin: 50px auto 0;
  padding: 11px 0 9px;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .movies-card-list {
    padding: 60px 30px 30px;
    gap: 40px;
  }

  .movies-card-list__button {
    width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .movies-card-list {
    padding: 70px 70px 10px;
  }
}
