.navigation {
  min-height: 100vh;
  padding: 20px 20px 46px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.navigation__close-button {
  width: 18px;
  height: 18px;
  margin: 0 0 106px auto;
  padding: 0;
  display: block;
  background-color: transparent;
  background-image: url(../../images/close-button.svg);
  background-position: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: .4s;
}

.navigation__menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.navigation__items {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
}

.navigation__item {
  margin: 0 0 24px;
  padding: 0;
  box-sizing: border-box;
}

.navigation__item_account {
  margin: auto 0 0;
}

.navigation__link {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.navigation__link_account {
  width: 100px;
  height: 32px;
  padding: 9.5px 11px;
  font-size: 13px;
  line-height: 12px;
  background-image: url(../../images/account-icon.svg);
  background-repeat: no-repeat;
  background-position: 71px 3px;
  background-size: 26px 26px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}
