.promo {
  min-height: 586px;
  margin: 0 14px;
  padding: 0 0 17px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
}

.promo__button {
  margin: 0 3px;
  background-color: #e8e8e8;
  border-radius: 6px;
}

.promo__heading {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 220px;
  left: auto;
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 29px;
  line-height: 37px;
  letter-spacing: -.04em;
  color: #000;
}

@media screen and (min-width: 768px) {
  .promo {
    min-height: 834px;
    margin: 0 20px;
    padding: 0 0 30px;
  }

  .promo__button {
    margin: 0 5px;
  }

  .promo__heading {
    width: 680px;
    top: 350px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    min-height: 493px;
    margin: 0 40px;
  }

  .promo__heading {
    width: 730px;
    top: 160px;
    font-size: 50px;
    line-height: 58px;
  }
}
