.timeline {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.timeline__block {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 11px;
  box-sizing: border-box;
}

.timeline__block::before {
  min-height: 35px;
  margin-bottom: 10px;
  padding: 11px 0;
  display: block;
  color: #000;
  box-sizing: border-box;
}

.timeline__block::after {
  display: block;
  color: #a0a0a0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .timeline__block {
    font-size: 14px;
  }

  .timeline__block::before {
    min-height: 36px;
    margin-bottom: 14px;
    padding: 9px 0;
  }
}
