.about-me {
  padding: 70px 14px;
  box-sizing: border-box;
}

.about-me__avatar {
  width: 292px;
  height: 352px;
  margin: 0 auto 40px;
  display: block;
  box-sizing: border-box;
}

.about-me__bio {
  padding-bottom: 70px;
  box-sizing: border-box;
}

.about-me__name {
  margin: 0 0 20px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -.04em;
  box-sizing: border-box;
}

.about-me__short {
  margin: 0 0 20px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  box-sizing: border-box;
}

.about-me__paragraph {
  margin: 0 0 40px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  box-sizing: border-box;
}

.about-me__github {
  width: max-content;
  font-weight: 500;
  font-size: 14px;
}

.about-me__portfolio-heading {
  margin: 0 0 40px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a0a0a0;
  box-sizing: border-box;
}

.about-me__links {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.about-me__link-item {
  margin: 0 0 20px;
  padding: 0 0 19px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.about-me__link-item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.about-me__link {
  display: block;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -.04em;
  background-image: url(../../../images/link-arrow.svg);
  background-repeat: no-repeat;
  background-position: 100% 8px;
  background-size: 10px 10px;
}

@media screen and (min-width: 768px) {
  .about-me {
    --avatar-width: 255px;
    padding: 90px 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .about-me__heading {
    order: 1;
  }

  .about-me__heading-line {
    margin-bottom: 66px;
    order: 2;
  }

  .about-me__avatar {
    width: var(--avatar-width);
    height: 307px;
    margin: 0;
    order: 4;
  }

  .about-me__bio {
    width: calc(100% - var(--avatar-width));
    padding: 0 49px 0 0;
    display: flex;
    flex-direction: column;
    order: 3;
  }

  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__short {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__paragraph {
    margin-bottom: auto;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__portfolio {
    width: 100%;
    margin-top: 90px;
    order: 5;
  }

  .about-me__portfolio-heading {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__link {
    font-size: 28px;
    line-height: 50px;
    background-position: 100% 20px;
    background-size: 15px 15px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me {
    --avatar-width: 270px;
    padding: 110px 70px 125px;
  }

  .about-me__avatar {
    height: 327px;
  }

  .about-me__bio {
    padding-right: 270px;
  }

  .about-me__name {
    margin-bottom: 18px;
    font-size: 50px;
    line-height: 58px;
  }

  .about-me__short {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__paragraph {
    font-size: 14px;
    line-height: 22px;
  }

  .about-me__portfolio {
    margin-top: 101px;
  }

  .about-me__link {
    font-size: 30px;
    line-height: 50px;
    background-size: 17px 17px;
  }
}
